@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|PT+Mono|PT+Serif&subset=latin,cyrillic);
@import url(sticky-footer.css);

/* font-family: 'PT Sans', sans-serif, Arial;
font-family: 'PT Mono', Arial;
font-family: 'PT Serif', serif, Times New Roman; */

/* #ffeebb бежевый
   rgba(138,237,182,1) синий
   rgba(23,51,176,1) мятный цвет */

body {
font-family: 'PT Sans', sans-serif, Arial;
/*background-color: #f8f8f8;*/
}



.navbar-header img {
	width: 200px;
	padding: 30px 0;
	}

.navbar-default {
background: none;
border:none;
}

.navbar-nav {
float: left;
margin: 20px 0 0 20px;
}

a {
font-family: 'PT Mono', sans-serif, Arial;
	color:rgba(23,51,176,1);}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffeebb;
  color: black;

}




h2, .h2 {
	/*font-size: 46px;*/
	/*text-transform: uppercase;*/
	/*letter-spacing: 5px;*/
	color: #120a8f;
  word-wrap: break-word;
}
/*#78e0e4*/
.form-control:focus {
  border-color: rgba(138,237,182,1);
  -webkit-box-shadow: 0 0 18px rgba(138,237,182,1);
          box-shadow: 2px 2px 6px rgba(138,237,182,1);
}

.form-group {
margin-bottom: 25px;
}

.tooltip {
white-space: pre;
font-size: 14px;
}

.tooltip-inner {
  background-color: #ffeebb;
  color: black;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ffeebb;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ffeebb;
}

/* --------------------------------------  Иконки -------------------------------------- */
.fa {color: #ccc;}

a .fa:hover {color: rgba(21,56,212,1);
cursor: pointer;}


p >a, a span.link {
    color:rgba(21,56,212,1);
    border-bottom: 1px dotted rgba(21,56,212,1);
}

p > a:hover, a span.link:hover {
    color:rgba(21,56,212,1);
    text-decoration: none;
    border-bottom: 1px dotted white;
}

a {cursor: pointer;}

/* -------------------------------------- Навигация ------------------------------------ */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-toggle .navbar-nav > .open > a, 
.navbar-toggle .navbar-nav > .open > a:hover, 
.navbar-toggle .navbar-nav > .open > a:focus {
color: #FFF;
background-color: rgba(21,56,212,1);
border-radius: 3px 3px 0 0;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-toggle .navbar-nav > li > a:hover, 
.navbar-toggle .navbar-nav > li > a:focus
{
color: #333;
background-color: #ffeebb;
border-radius: 3px;
}


.dropdown-menu {border: none;}

.dropdown-menu > li > a:hover {
background-color: #ffeebb;
}

/* -------------------------------------- Заголовки ------------------------------------ */
.result {
color: rgba(21,212,139,1); 
}

.lettering {
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.help-block {
color: #888;
}

.zub .lead {
font-family: 'PT Mono', sans-serif, Arial; 
}

.big {font-size: 1.8em;}

.logo {max-width:200px; margin-top: 20px;}

/* -------------------------------------- Кнопки ------------------------------------ */
.butn {
font-family: 'PT Mono', Arial;
   background-color: white;
   border: solid 3px rgba(21,56,212,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   padding: 12px;
   display: inline-block;
   line-height: 15px;
   color: rgba(23,51,176,1);
   font-size: 18px;
}

.butn:hover {
	background-color: rgba(21,56,212,1);
   border: solid 3px rgba(21,56,212,1);
   color: white;
}

.butn:active {
	background-color: rgba(138,237,182,1);
   border: solid 3px rgba(138,237,182,1);
   text-align: center;
   color: white;
}

.butn:disabled {
  display: none;
  background-color: gray;
   border: solid 3px gray;
   text-align: center;
   color: white;
}

.btn-primary {
color: #888;
background-color: white;
border-color: #DDDDDD;
}

.btn-primary:hover {
color: #333;
background-color: #ffeebb;
border-color: #ecd89c;

}

/*.dropdown-toggle.btn-default  {background-color: transparent;}
.btn-default:hover, .btn-default:focus,  .btn-default:active, .btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: rgba(21,56,212,1);
    color: white;}*/

.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
color: #fff;
background-color: rgba(21,56,212,1);
border-color: rgba(21,56,212,1);}

input, .btn, .btn-success, .btn-lg { outline: none;}
.input-lg {border-radius: 3px;}

/* -------------------------------------- Зубчики внизу ------------------------------------ */
.zub {
  display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 10px 20px;
    margin: -10px 0 5px 0;
    border: 10px solid transparent;
    border-width: 10px 0;
    background-color: hsla(0, 0%, 0%, 0);
    background-image:
        -webkit-linear-gradient(#faf8dd, #faf8dd),
        -webkit-linear-gradient(to bottom right, transparent 100%, #333 100.5%),
        -webkit-linear-gradient(to bottom left, transparent 100%, #333 100.5%),
        -webkit-linear-gradient(to top right, transparent 50.5%, #faf8dd 50.5%),
        -webkit-linear-gradient(to top left, transparent 50.5%, #faf8dd 50.5%);
    background-image:
        moz-linear-gradient(#faf8dd, #faf8dd),
        moz-linear-gradient(to bottom right, transparent 100%, #333 100.5%),
        moz-linear-gradient(to bottom left, transparent 100%, #333 100.5%),
        moz-linear-gradient(to top right, transparent 50.5%, #faf8dd 50.5%),
        moz-linear-gradient(to top left, transparent 50.5%, #faf8dd 50.5%);
    background-image:
        linear-gradient(#fef6cb, #faf8dd),
        linear-gradient(to bottom right, transparent 100%, #333 100.5%),
        linear-gradient(to bottom left, transparent 100%, #333 100.5%),
        linear-gradient(to top right, transparent 50.5%, #faf8dd 50.5%),
        linear-gradient(to top left, transparent 50.5%, #faf8dd 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;

}

.zub > .primary {
  /*background:rgba(255, 255, 255, 0.5);*/
  background-position: 95% 95%;
  overflow: visible;
  /*border-bottom: 1px dashed white;*/
  border-left: 1px solid red;
  margin: 0 -20px 20px -20px; 
  padding: 10px 20px 10px 20px;
  min-height: 100px;
}

.russian {background: url(../img/herb.png) no-repeat;}
.british {background: url(../img/british.png) no-repeat;}



